# API Configuration
VITE_API_URL=http://localhost:3000/api/v1

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyDcj9GF6Jsi7aIWHoOmH9OKwdOs2pRswS0
VITE_FIREBASE_AUTH_DOMAIN=bthwani-app.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=bthwani-app
VITE_FIREBASE_STORAGE_BUCKET=bthwani-app.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=123456789
VITE_FIREBASE_APP_ID=1:123456789:web:abcdef123456
